@{
    ViewData["Title"] = "Home Page";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}
<style>
    .centered-content {
        text-align: center; /* Center-aligns text and inline elements */
        display: flex; /* Enables flexbox layout */
        flex-direction: column; /* Aligns items vertically */
        justify-content: center; /* Centers items vertically */
        align-items: center; /* Centers items horizontally */
        height: 100vh; /* Optional: Makes the container full height of the viewport */
    }
</style>
<div class="centered-content">
    <h1>Welcome To Travela</h1>
    <img src="~/admin/assets/img/layouts/logo2_2cc3.png" alt="IMG" style="width: 700px; height: 600px; border-radius: 50%;">
</div>
