<style>
    .fa-star {
        color: goldenrod
    }

    .shadow {
        margin: 10px;
        padding: 20px;
        box-shadow: 2px 2px;
    }

    .flex {
        display: flex;
        justify-content: space-evenly;
    }

    .shadow:hover {
        border: 1px solid #123581;
    }

    .img-fluid {
        height: 100%;
        width: 100%;
    }

    .flex-box{
        display:flex;
        justify-content:space-between;
    }
    /*  .img-fluid {
                            position: relative;
                            overflow: hidden;
                            border-radius: 10px;
                            box-shadow: 0 4px 8px rgba(0,0,0,0.1);
                        }

                            .img-fluid:nth-child(1) {
                                grid-column: span 2;
                                grid-row: span 2;
                            }

                            .img-fluid{
                                object-fit: cover;
                                transition: transform 0.3s ease;
                            }

                            .img-fluid:hover{
                                transform: scale(1.1);
                            } */
</style>
<div class="carousel-header">
    <div id="carouselId" class="carousel slide" data-bs-ride="carousel">
        <ol class="carousel-indicators">
            <li data-bs-target="#carouselId" data-bs-slide-to="0"></li>
            <li data-bs-target="#carouselId" data-bs-slide-to="1"></li>
            <li data-bs-target="#carouselId" data-bs-slide-to="2"></li>
        </ol>
        <div class="carousel-inner" role="listbox">
            <div class="carousel-item active">
                <img src="~/admin/assets/img/image/pexels-karolina-2031292-3669288.jpg" class="img-fluid" alt="Image">
                <div class="carousel-caption">
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Carousel End -->
</div>

<div class="container py-5">
    <div class="tour-heading">
        <h2>
            Trekking in Nepal
        </h2>
        <p>
            Nepal is one of the most famous destination for outdoor activities as well trekking, wildlife adventure and village tour.
            As that trekking in Nepal is one of the best outdoor activities. Trekking refers to gentle walk along himalayan trails that has been appreciated by all as the most happening open- air acivity.
            Trekking is hiking or walking from village to village through the hills and up into high himalayan valleys is an experience not to be missed. The scenery varies from cultivated terraces to
            luch rhododendron forests to glacier-capped peaks. Level of difficulty depends largely upon where, when and how one is trekking. With proper preparation and if basic trekking rules are practiced,
            Nepal is generally a safe country to fulfill your trekking desires. Nepal provide a myriad of opportunities for trekking enthusiasts from easy to physically demanding Himalayan excursion.
            <b>Trekking in Nepal</b> can be the perfect opportunity to appreciate the landscape, culture, religion, and way of living of this small landlocked nation.
        </p>
        <button class="btn btn-primary">Learn More</button>
    </div>
    <hr />
    <div class="tour-body">
        <h3>Available Package</h3>
        <div class="flex">
            <div class="col-md-4 shadow">
                <div>
                    <img src="~/admin/assets/img/image/kanchenjungabasecamptrek.jpeg" class="img-fluid" alt="Image">
                </div>
                <hr />
                <div>
                    <h4>Kanchenjunga Base camp Trek</h4>
                </div>
                <div class="d-flex align-items-center justify-content-between after-title-section">
                    <div class="d-flex align-items-center review-stars">
                        <div class="star">
                            <i class="fa-solid fa-star"></i>
                        </div>
                        <div class="star">
                            <i class="fa-solid fa-star"></i>
                        </div>
                        <div class="star">
                            <i class="fa-solid fa-star"></i>
                        </div>
                        <div class="star">
                            <i class="fa-solid fa-star"></i>
                        </div>
                        <div class="star">
                            <i class="fa-solid fa-star"></i>
                        </div>

                        <span>
                            (5.0)
                        </span>
                    </div>
                </div>
                <div style="margin-top:20px">
                    <label>Starting From</label>
                </div>
                <div style="margin-top:10px">
                    <div class="flex-box">
                        <div>
                            <h4>
                                <label>Rs. 100,000</label>
                            </h4>
                        </div>
                        <div>
                            <button class="btn btn-outline-primary">VIEW DETAILS</button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-4 shadow">
                <div>
                    <img src="~/admin/assets/img/image/TshoRolpaTrek.jpg" class="img-fluid" alt="Image">
                </div>
                <hr />
                <div>
                    <h4>Tsho Rolpa Trek</h4>
                </div>
                <div class="d-flex align-items-center justify-content-between after-title-section">
                    <div class="d-flex align-items-center review-stars">
                        <div class="star">
                            <i class="fa-solid fa-star"></i>
                        </div>
                        <div class="star">
                            <i class="fa-solid fa-star"></i>
                        </div>
                        <div class="star">
                            <i class="fa-solid fa-star"></i>
                        </div>
                        <div class="star">
                            <i class="fa-solid fa-star"></i>
                        </div>
                        <div class="star">
                            <i class="fa-solid fa-star"></i>
                        </div>

                        <span>
                            (5.0)
                        </span>
                    </div>
                </div>
                <div style="margin-top:20px">
                    <label>Starting From</label>
                </div>
                <div style="margin-top:10px">
                    <div class="flex-box">
                        <div>
                            <h4>
                                <label>Rs. 100,000</label>
                            </h4>
                        </div>
                        <div>
                            <button class="btn btn-outline-primary">VIEW DETAILS</button>
                        </div>
                    </div>
                </div>

            </div>
            <div class="col-md-4 shadow">
                <div>
                    <img src="~/admin/assets/img/image/Chisapani-Nagarkot-2.jpg" class="img-fluid" alt="Image">
                </div>
                <hr />
                <div>
                    <h4>Chisapani Nagarkot Trekking</h4>
                </div>
                <div class="d-flex align-items-center justify-content-between after-title-section">
                    <div class="d-flex align-items-center review-stars">
                        <div class="star">
                            <i class="fa-solid fa-star"></i>
                        </div>
                        <div class="star">
                            <i class="fa-solid fa-star"></i>
                        </div>
                        <div class="star">
                            <i class="fa-solid fa-star"></i>
                        </div>
                        <div class="star">
                            <i class="fa-solid fa-star"></i>
                        </div>
                        <div class="star">
                            <i class="fa-solid fa-star"></i>
                        </div>

                        <span>
                            (5.0)
                        </span>
                    </div>
                </div>
                <div style="margin-top:20px">
                    <label>Starting From</label>
                </div>
                <div style="margin-top:10px">
                    <div class="flex-box">
                        <div>
                            <h4>
                                <label>Rs. 100,000</label>
                            </h4>
                        </div>
                        <div>
                            <button class="btn btn-outline-primary">VIEW DETAILS</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
